@charset "utf-8";

.hero-image {
    /* margin-top: 76px; */
    background-image: url("../images/river-small.jpg");
    height: 100vh;
    background-size: cover;
    
  /* Only override this if one of the conditions for the 1500w image is met */
 }


.hero-text {
    text-align: center;
    position: absolute;
    top: 50%;
    left: 50%;
    color: white;
}

h2 {
    padding-right: 40px;
    font-size: 3em;
    margin: 0;
    color: navy;
    padding-top: 20px;
    padding-bottom: 20px;
}

main {
    max-width: 1000px;
    margin: auto;
    margin-top: 20px;
    margin-bottom: 100px;
}


.top {
    padding: 10px 20px;
}


.lower {
    display: flex;
    justify-content: space-around;
    margin: 0;
}

.lower article {
    width: 100%;
    padding: 10px 10px;
}


.lower article img {
    display: block;
    margin: auto;
}



/* media queries */

@media(max-width: 970px){


    .lower {
        display: block;
        flex-wrap: wrap;
        margin-left: 15%;
        margin-right: 15%;
    }

    .lower article {
        padding: 0;
    }

    .lower img {
        width: 100%;
        height: auto;
        margin: auto;
    }

    h2 {
        font-size: 2em;
    }

}


@media(max-width: 870px){
    .hero-image {
        width: 100%;
    }
}

    h2 {
        font-size: 1.8em;
    }

@media(max-width: 500px){

    h2 {
        font-size: 1.2em;
    }

    .lower {
        display: flex;
        flex-direction: column;
    }   

    .lower article {
        width: 100%;
    }
    
    .lower img {
        width: 100%;
        height: auto;
        margin: auto;
    }

}


/*hero-image media queries*/

@media (min-width: 720px) {
.hero-image::before {
background-image: url(/images/river-small-720_x_477.jpg);
}
}

@media (min-width: 980px) {
.hero-image::before {
background-image: url(/images/river-small-980_x_649.jpg);
}
}

@media (min-width: 1240px) {
.hero-image::before {
background-image: url(/images/river-small-1240_x_821.jpg);
}
}

@media (min-width: 1500px) {
.hero-image::before {
background-image: url(/images/river-small-1500_x_993.jpg);
}
}

@media (min-width: 1760px) {
.hero-image::before {
background-image: url(/images/river-small-1760_x_1166.jpg);
}
}

